/* Служебные */

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); / IE6, IE7 /
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Принудительное наследование box-sizing: border-box для flex-элементов */

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

.content-box-component {
	box-sizing: content-box;
}

/*******************************/

body {
	margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.container {
	position: relative;
	width: 1200px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 15px -5px #000000;
}

.container a {
	text-decoration: none;
}

/* Приклеивает хедер к верху окна, а футер к низу, убирая выпадающие маргины; заодно сбрасывает стили списков */

.main-navigation,
.footer-visitsedona,
.footer-social,
.footer-copyright,
.filter-infrastructure-list,
.filter-type-list,
.sort-type,
.sort-tuning-arrows {
	list-style: none;
	margin: 0;
	padding: 0;
}

.index p {
	color: #333333;
	text-align: center;
}

.index h2 {
	text-align: center;
}

.main-navigation a,
.main-footer a {
	color: #000000;
	font-weight: 700;
	line-height: 26px;
}

.main-navigation a:hover,
.hotel-info h2:hover {
	color: #81b3d2;
}

.main-navigation a:active,
.hotel-info h2:active {
	opacity: 0.3;
}

.current-page {
	font-weight: 700;
	line-height: 26px;
	color: #766357;
}

/* Правила для main страницы index.html */

.background-container {
	background-color: #e0edf7;
	background-image: url("../img/background_mountains.jpg");
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.background-container img {
	display: block;
	margin: auto;
}

.background-mask {
	background-color: transparent;
	background-image: url("../img/background-mask.png");
	width: 1200px;
	height: 57px;
	position: absolute;
	bottom: 0;
}

.article-header h2,
.feature h2,
.hotel-list h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.pictorial-feature p {
	color: #ffffff;
}

.pictorial-feature {
	background-color: #81b3d2;
	color: #ffffff;
}

.picture {
	background-color: #81b3d2;
}

.picture-buildings {
	width: 800px;
	height: 401px;
	background-image: url("../img/buildings.jpg");
}

.picture-rocs {
	width: 800px;
	height: 400px;
	background-image: url("../img/rocs.jpg");
}

.icon {
	margin: 0 auto;
}

.icon-house {
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-house.svg");
}

.icon-burger {
	width: 74px;
	height: 70px;
	background-image: url("../img/icon-burger.svg");
}

.icon-box {
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-box.svg");
}

.features-grid-lower {
	background-color: #ebebeb;
}

.interested h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.interested button,
.filter-container button {
	text-transform: uppercase;
	color: #ffffff;
}

.hotel-search,
.to-search {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	border: none;
}

.hotel-search {
	background-color: #766357;
	width: 568px;
	height: 86px;
}

.hotel-search:hover {
	background-color: #604e43;
}

.hotel-search:active {
	background-color: #503e33;
	color: #847770;
}

/* Форма ввода данных модального окна */

.modal .to-search {
	background-color: #81b3d2;
	font-size: 21px;
	color: #ffffff;
	text-transform: inherit;
	padding-bottom: 4px;
	width: 458px;
	height: 58px;
}

.modal .to-search:hover {
	background-color: #669ec0;
}

.modal .to-search:active {
	background-color: #5496bd;
	color: #87b5d1;
}

.modal {
	font-weight: 700;
	line-height: 26px;
}

.form-control-calendar input,
.form-control-quantity input {
	background-color: #f2f2f2;
	border: none;
	font: inherit;
	text-transform: inherit;
}

.form-control-calendar input:hover,
.form-control-quantity input:hover {
	background-color: #ebebeb;
}

.form-control-calendar input:focus,
.form-control-quantity input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
	outline-offset: -2px;
}

.form-control-calendar input {
	width: 348px;
	height: 38px;
	padding-left: 14px;
}

.form-control-quantity input {
	width: 38px;
	height: 38px;
	text-align: center;
}

/* Кнопки формы модального окна */

.modal button {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.form-control-calendar button {
	background-image: url("../img/calendar_grey.png");
}

.form-control-calendar button:hover {
	background-image: url("../img/calendar_black.png");
}

.form-control-calendar button:active {
	background-image: url("../img/calendar_blue.png");
}

.form-control-minus {
	background-image: url("../img/sign_minus_grey.png");
}

.form-control-minus:hover {
	background-image: url("../img/sign_minus_black.png");
}

.form-control-minus:active {
	background-image: url("../img/sign_minus_blue.png");
}

.form-control-plus {
	background-image: url("../img/sign_plus_grey.png");
}

.form-control-plus:hover {
	background-image: url("../img/sign_plus_black.png");
}

.form-control-plus:active {
	background-image: url("../img/sign_plus_blue.png");
}

/* Правила для страницы catalog.html */

.filter-container {
	background-color: #5496bd;
	background-image: url("../img/background_mountains_blured.jpg");
	background-position: center;
	color: #ffffff;
}

.filter-container h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

/* Чекбоксы */

.filter-infrastructure-list input,
.filter-type-list input {
	display: none;
}

.filter-infrastructure-list label::before,
.filter-type-list label::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.filter-infrastructure-list input[type="checkbox"]:checked ~ label::before,
.filter-type-list input[type="checkbox"]:checked ~ label::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

/* Блок ввода цены и слайдера */

.filter-price-input {
	position: relative;
	display: block;
	width: 314px;
	height: 32px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	margin-bottom: 22px;
}

.filter-price-input input {
	background-color: transparent;
	border: none;
	color: inherit;
	margin: 0;
	width: 30px;
}

.filter-price-input label {
	display: inline-block;
	margin-top: 5px;
}

.filter-price-input label:first-child {
	margin-left: 65px;
	margin-right: 90px;
}

.filter-price-input label:first-child::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 157px;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.filter-price-slider {
	width: 317px;
  height: 2px;
  background: linear-gradient(to right, #ffffff 70%, rgba(255, 255, 255, .3) 30%);
  position: relative;
  margin-bottom: 34px;
}

.slider-control {
	width: 20px;
  height: 20px;
  background: #a6a6a6;
  display: block;
  border-width: 8px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(255, 255, 255, .3);
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.slider-control:hover {
	width: 22px;
  height: 22px;
	border-width: 9px;
}

.slider-control-left {
	left: 0;
}

.slider-control-right {
	left: 70%;
}

.filter-price button {
	width: 133px;
  height: 32px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	background-color: transparent;
}

.filter-price button:hover {
	color: #000000;
	background-color: #ffffff;
}

/* Блок сортровки результатов */

.results-sort {
	min-height: 86px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

.results-sort h3 {
	font-weight: inherit;
	font-size: inherit;
}

.results-counter {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.sort-type a {
	color: rgba(0,0,0,.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-type li:first-child a {
	border: none;
	color: #81b3d2;
}

.sort-type li a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-type li a:active {
	color: #000000;
	border: none;
}

.button-arrow {
	display: block;
	padding: 0;
	width: 11px;
	height: 10px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
}

.button-arrow-up {
	background-image: url("../img/arow-up.svg");
}

.button-arrow-down {
	background-image: url("../img/arrow-down_active.svg");
}

.button-arrow-up:hover {
	background-image: url("../img/arow-up_hover.svg");
}

.button-arrow-down:hover {
	background-image: url("../img/arrow-down_hover.svg");
}

.button-arrow-up:active {
	background-image: url("../img/arow-up_active.svg");
}

.button-arrow-down:active {
	background-image: url("../img/arrow-down_active.svg");
}

/* Блок показа результатов поиска */

.more-detailed,
.to-book {
	display: inline-block;
	height: 27px;
	color: #ffffff;
	font-weight: 700;
}

.more-detailed {
	width: 110px;
	background-color: #77aecd;
	text-align: center;
	padding-top: 4px;
	margin-right: 2px;
}

.more-detailed:hover {
	background-color: #669ec0;
}

.more-detailed:active {
	color: rgba(255, 255, 255, .3);
	background-color: #5496bd;
}

.to-book {
	width: 142px;
	background-color: #766357;
	text-align: center;
	padding-top: 4px;
}

.to-book:hover {
	background-color: #604e43;
}

.to-book:active {
	color: rgba(255, 255, 255, .3);
	background-color: #503e33;
}

.hotel-stars span {
	display: inline-block;
	font-size: 0;
	margin-left: 5px;
	width: 18px;
	height: 17px;
	background-image: url("../img/star.svg");
}

.hotel-rating-value {
	color: #666666;
	background-color: #f2f2f2;
	padding: 5px 13px 6px 16px;
	margin-top: auto;
	margin-bottom: 0;
}

/* Футер */

.main-footer {
	width: 1200px;
	background-color: white;
	opacity: 0.9;
}

.footer-visitsedona {
	font-size: 21px;
}

.footer-social a {
	display: block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;
}

.footer-social a:hover {
	background-color: #669ec0;
}

.social-button-twitter {
	background-image: url("../img/twitter-icon.svg");
}

.social-button-twitter:active {
	background-color: #5496bd;
	background-image: url("../img/twitter-icon_dark.svg");
}

.social-button-fecebook {
	background-image: url("../img/fb-icon.svg");
}

.social-button-fecebook:active {
	background-color: #5496bd;
	background-image: url("../img/fb-icon_dark.svg");
}

.social-button-youtube {
	background-image: url("../img/youtube-icon.svg");
}

.social-button-youtube:active {
	background-image: url("../img/youtube-icon_dark.svg");
}

.footer-copyright a {
	display: inline-block;
	width: 115px;
	height: 41px;
	background-image: url("../img/logo_htmlacademy_black.png");
}

.footer-copyright a:hover {
	background-image: url("../img/logo_htmlacademy_blue.png");
}

.footer-copyright a:active {
	background-image: url("../img/logo_htmlacademy_grey.png");
}

/* Стили для сеток */

/* Хедер */

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-navigation li {
	min-height: 56px;
	width: 239px;
	padding-top: 14px;
	text-align: center;
}

.main-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-navigation li:nth-child(3) {
	margin-left: auto;
}

.header-navigation {
	position: relative;
}

.main-header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
	z-index: 10;
}

/* index main */

.article-header {
	padding-top: 60px;
  padding-bottom: 39px;
}

.article-header h2 {
	width: 440px;
	margin: auto;
	margin-bottom: 30px;
}

.index-main-flexbox {
	display: flex;
	flex-wrap: wrap;
}

.index-main-flexbox section {
	display: flex;
	flex-wrap: wrap;
}

.feature-column {
	width: 400px;
	min-height: 256px;
}

.picture {
	height: inherit;
	background-position: center;
}

 .features-grid-upper .feature-column {
 	padding-top: 50px;
 	padding-bottom: 50px;
 }

 .features-grid-lower .feature-column {
 	padding-top: 50px;
 	padding-bottom: 64px;
 }

.interested {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 291px;
	padding-top: 25px;
}

/* Модальное окно */

.interested {
	position: relative;
}

.modal {
	width: 568px;
	padding: 55px;
	background-color: white;
	position: absolute;
	top: 291px;
	left: 316px;
}

.form-control-calendar label input[name="arrival-date"] {
	margin-left: 21px;
}

.form-control-calendar label input[name="departure-date"] {
	margin-left: 18px;
}

.form-control-calendar label {
	display: block;
	position: relative;
}

.form-control-calendar label input {
	width: 348px;
	margin-bottom: 30px;
}

.form-control-calendar button {
	position: absolute;
	left: 419px;
	background-color: transparent;
}

.form-control-quantity {
	display: flex;
}

.form-control-quantity label:first-child {
	margin-right: 40px;
}

.form-control-quantity label:nth-of-type(2) {
	margin-left: 53px;
  margin-right: 27px;
}

.quantity-enter-block {
	display: flex;
}

.to-search {
	margin-top: 54px;
}

/* catalog */

.filter-container {
	padding-top: 31px;
	padding-bottom: 23px;
}

.filter {
	display: flex;
	justify-content: space-around;
}

.filter-infrastructure {
	margin-left: 72px;
}

.filter-type {
	margin-left: 115px;
}

.filter-infrastructure h3,
.filter-type h3 {
	margin-bottom: 28px;
}

.filter-infrastructure-list li,
.filter-type-list li {
	margin-top: 18px;
}

.filter-price {
	margin-right: 74px;
	margin-left: auto;
}

.results-sort,
.sort-type,
.sort-tuning-arrows {
	display: flex;
	align-items: center;
}

.results-sort {
	padding: 0 6%;
	background-color: #fefefe;
	border-bottom: 1px solid #e2e2e2;
}

.results-counter {
	margin-right: 49px;
}

.results-sort h3 {
	margin-right: 40px;
}

.sort-type a {
	margin-right: 33px;
}

.sort-tuning-arrows {
	margin-left: auto;
}

.button-arrow {
	margin-left: 12px;
}

.hotel-list {
	background-color: #fefefe;
}

.hotel-card {
	display: flex;
	padding: 30px 6%;
	border-bottom: 1px solid #e2e2e2;
}

.hotel-info {
	margin-left: 30px;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.hotel-info h2 {
	margin-top: -5px;
	margin-bottom: -7px;
}

/* Футер */

.main-footer,
.footer-social {
	display: flex;
	align-items: center;
}

.footer-social {
	justify-content: space-between;
}

.main-footer {
	min-height: 127px;
	padding-bottom: 6px;
}

.footer-visitsedona {
	margin-left: 132px;
}

.footer-social {
	width: 150px;
	margin-left: 256px;
}

.footer-copyright {
	display: flex;
	align-items: center;
	margin-left: 228px;
}

.footer-copyright a {
	margin-left: 8px;
}

.index-footer {
	position: absolute;
	bottom: 0;
}

.catalog-footer {
	background-color: #fefefe;
}

/* Pixel-perfect */

/* header */

.main-navigation li:nth-child(1) a {
	margin-left: -3px;
}

.main-navigation li:nth-child(2) a {
	margin-left: 5px;
}

.main-navigation li:nth-child(3) a {
	margin-left: 0px;
}

.main-navigation li:nth-child(4) a,
.current-page {
	margin-left: 15px;
}

/* index */

.background-container img {
	margin-top: -4px;
}

.pictorial-feature .feature-column:first-of-type {
	padding: 46px 59px 64px 60px;
}

.pictorial-feature .feature-column:first-of-type h2 {
	padding: 0 33px;
	margin-top: 1px;
	line-height: 21px;
}

.pictorial-feature .feature-column p {
	margin-top: 25px;
  margin-bottom: -5px;
}

.features-grid-upper .feature-column {
	padding: 60px 60px 68px 60px;
}

.features-grid-upper .feature-column h2 {
	margin-top: 27px;
  margin-bottom: 21px;
}

.icon-burger {
	margin-left: 101px;
}

.features-grid-upper .feature-column:nth-child(2) h2 {
	margin-top: 29px;
  margin-bottom: 21px;
}

.features-grid-upper .feature-column:nth-child(2) p {
	margin: 0 -3px;
}

.icon-box {
	 margin-top: -4px;
}

.pictorial-feature .feature-column:last-of-type {
	padding: 49px 49px 65px 49px;
}

.pictorial-feature .feature-column:last-of-type h2 {
	padding: 0 33px;
  margin-top: -3px;
  line-height: 21px;
}

.features-grid-lower .feature-column {
	padding: 50px 69px 44px 69px;
}

.features-grid-lower .feature-column h2 {
	padding: 0 33px;
	margin-top: -3px;
	line-height: 21px;
}

.features-grid-lower .feature-column p {
	margin-top: 23px;
}

.interested h2 {
	margin-bottom: -23px;
}

.interested p {
  line-height: 24px;
}

.form-control-quantity label {
	 margin-top: 5px;
}

/* catalog */

.filter-container {
	padding-top: 31px;
	padding-bottom: 35px;
}

.filter-container h3 {
	margin-top: -4px;
	margin-right: 115px;
}

